name: Test MVN project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'termurin'
          cache: maven

      - name: Run tests and package
        run: mvn --batch-mode verify

      - name: Collect JAR files
        run: mkdir staging && cp target/*.jar staging/

      - name: Upload packaged JAR
        uses: actions/upload-artifact@v4
        with:
          name: Application-Package
          path: staging
